#home-page {
  padding: 0;
  box-sizing: inherit;
}
@media screen and (min-width: 35.5em) {
  #home-page {
    padding: 0 15%;
    box-sizing: border-box;
  }
}
#home-page .carousel-one {
  margin-top: 20px;
  text-align: center;
}
#home-page #owl-1 .item img {
  display: block;
  width: 100%;
  height: auto;
}
#home-page .owl-item {
  width: 900px;
}
#home-page .home-tabs {
  margin: 10px 0;
  border-bottom: 2px solid #000;
}
@media screen and (max-width: 35.5em) {
  #home-page .destop-tabs {
    display: none;
  }
}
@media screen and (min-width: 35.5em) {
  #home-page .mobile-tabs {
    display: none;
  }
}
#home-page .mobile-tabs li {
  font-size: 20px;
}
#home-page .carousel-div {
  position: relative;
}
#home-page .carousel-div i {
  position: absolute;
  font-size: 20px;
  color: #ADADAD;
  top: 25px;
}
#home-page .carousel-div i.left-icon {
  left: 0;
}
#home-page .carousel-div i.right-icon {
  right: 0;
}
#home-page #owl-2 .owl-item {
  margin: 0 25px;
  border: 2px solid #FFEC00;
  border-radius: 50%;
  height: 70px;
  width: 70px !important;
  box-sizing: border-box;
}
@media screen and (max-width: 35.5em) {
  #home-page #owl-2 .owl-item {
    margin: 0 4px;
  }
}
#home-page #owl-2 .owl-item p {
  width: 40px;
  position: absolute;
  left: 10pt;
  top: -7px;
}
#home-page .home-container {
  margin-top: 10px;
}
#home-page .home-container .label-div {
  position: relative;
  background-color: #eee;
  border-radius: 4px;
  padding: 5px;
  margin: 5px 0;
  height: 200px;
  box-sizing: border-box;
}
@media screen and (min-width: 35.5em) {
  #home-page .home-container .label-div {
    width: 45%;
    height: 250px;
    margin: 5px;
  }
}
@media screen and (min-width: 48em) {
  #home-page .home-container .label-div {
    width: 48%;
    margin: 5px;
  }
}
#home-page .home-container .label-div .label-header {
  border-left: 2px solid #FFEC00;
  padding: 10px;
  display: inline-block;
  margin-left: 5px;
}
#home-page .home-container .label-div .label-icon {
  font-size: 12px;
  padding: 10px 5px 5px 0;
  display: inline-block;
}
@media screen and (min-width: 35.5em) {
  #home-page .home-container .label-div .label-icon {
    font-size: 16px;
  }
}
#home-page .home-container .label-div .label-right {
  float: right;
  text-align: right;
}
#home-page .home-container .label-div .label-left {
  float: left;
  text-align: left;
}
#home-page .home-container .label-div h1 {
  font-size: 20px;
  font-weight: 100;
  margin: 0;
  text-align: left;
}
@media screen and (min-width: 35.5em) {
  #home-page .home-container .label-div h1 {
    font-size: 2em;
  }
}
#home-page .home-container .label-div p {
  margin: 0;
  text-align: left;
}
#home-page .home-container .label-div img {
  border-radius: 10%;
}
#home-page .home-container .label-div .img-div {
  position: absolute;
  bottom: 5px;
}
#home-page .home-container .label-div tt {
  position: absolute;
  bottom: 0;
  padding: 5px;
}
#home-page .home-container .tags {
  list-style: none;
  margin: 10px 0 10px 10px;
  overflow: hidden;
  padding: 0;
}
#home-page .home-container .tags li {
  float: left;
}
#home-page .home-container .tag {
  font-size: 14px;
  background: #FEFFB5;
  border-radius: 3px 0 0 3px;
  color: #999;
  display: inline-block;
  height: 26px;
  line-height: 26px;
  padding: 0 20px 0 23px;
  position: relative;
  margin: 0 10px 10px 0;
  text-decoration: none;
  -webkit-transition: color 0.2s;
}
@media screen and (min-width: 35.5em) {
  #home-page .home-container .tag {
    font-size: 16px;
  }
}
#home-page .home-container .tag::before {
  background: #eee;
  border-radius: 10px;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
  content: '';
  height: 6px;
  left: 10px;
  position: absolute;
  width: 6px;
  top: 10px;
}
#home-page .home-container .tag::after {
  background: #eee;
  border-bottom: 13px solid transparent;
  border-left: 10px solid #FEFFB5;
  border-top: 13px solid transparent;
  content: '';
  position: absolute;
  right: 0;
  top: 0;
}
#home-page .some-text {
  text-align: left;
}
