body {
  margin: 0;
  position: relative;
}

#main {
  text-align: center;
}

.header {
  padding: 20px;
  background-color: #424242;
  text-align: center;
}
.header i, .header label {
  color: #fff;
}
.header label {
  padding: 20px;
  cursor: pointer;
}
.header label:hover {
  opacity: 0.4;
}
.header .logo-div img {
  display: inline-block;
}
.header .logo-div input {
  padding: 8px;
  border-radius: 20px;
  background-color: #424242;
  color: #B09F8A;
  font-size: 14px;
  border: 2px solid #fff;
  box-sizing: border-box;
}
@media screen and (min-width: 35.5em) {
  .header .horizontal-menu {
    text-align: right;
  }
}
@media screen and (max-width: 35.5em) {
  .header .horizontal-menu {
    margin-top: 20px;
  }
}
.header .horizontal-menu a {
  color: #fff;
  font-weight: 100;
}
.header .horizontal-menu a:hover {
  background-color: #999;
}

footer {
  width: 100%;
  background-color: #eee;
  text-align: center;
}
footer section {
  line-height: 30px;
}
@media screen and (min-width: 35.5em) {
  footer section {
    line-height: 60px;
  }
}
footer ul {
  padding: 0;
}
footer .pure-menu-link {
  font-size: 12px;
}
footer .pure-menu-link:hover {
  background-color: inherit;
}
footer .footer-left {
  text-align: left;
}
footer .footer-right {
  overflow: hidden;
  text-align: right;
  display: block;
}
@media screen and (min-width: 35.5em) {
  footer .footer-right {
    display: inline-block;
  }
}
